{% load i18n %}{% autoescape off %}
{% trans "Hallo" %} {{ user.get_full_name|default:user.get_username }},

{% trans "Sie erhalten diese E-Mail, weil jemand das Zurücksetzen des Passworts für Ihr Konto bei Anlaufstelle angefordert hat." %}

{% trans "Klicken Sie auf den folgenden Link, um Ihr Passwort zurückzusetzen:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Falls Sie diese Anforderung nicht gestellt haben, können Sie diese E-Mail ignorieren." %}

{% trans "Mit freundlichen Grüßen" %}
{% trans "Ihr Anlaufstelle-Team" %}
{% endautoescape %}
